:root{
    --bg-blue: #28306E !important;
    --bg-orange: #F78D20;
    --success-color: #28a745;
    --primary-color: #007bff;
    --secondary-color: #7f95a2;
    --warning-color: #ffc107;
    --warning-color-secondary: rgb(238, 195, 6);
    --info-color: #17a2b8;
    --dark-color: #343a40;
    --info-color-secondary: #9005bb;
    --danger-color: #dc3545;
    --danger-color-secondary: #f11616;
    --default-color: #ebedf3;


    --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}



*{
    box-sizing: border-box;
  
 
}

body{

    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

#app {
    margin: 0;
    padding: 0;
    width: 100%;
   
}


#dv_map {
    margin: 10px;
    height: 100vh;
    width:100%;
}

.sidebar{

    width:23vw;
  
}

.information{


  width: 100%;

 

}

.list {

  cursor: pointer;
}

.total{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cost{
  background: #fff;
  background-image: linear-gradient(48deg, #fff 0%, #e5efe9 100%);
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 40px;
  max-width: 400px;
  width: 100%;

}

.profil{

     background-color: var(--default-color);
     width:300px;
     height:auto;
     padding:20px;
     border-radius: 10px;
     -webkit-box-shadow: 2px 2px 18px 6px rgba(0,0,0,0.59); 
    box-shadow: 2px 2px 18px 6px rgba(0,0,0,0.59);
    display: flex;
    justify-content: space-between;

}

.profil label{

    font-size: 16px;
   
}

.profil select {

      
    width: 60%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}



.heading {
    font-size: 1.5em;
    margin-bottom: 12px;
  }
  
  .card {
    background: #fff;
    background-image: linear-gradient(48deg, #fff 0%, #e5efe9 100%);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 40px;
    max-width: 400px;
    width: 100%;
  }
  
  .content-wrapper {
    font-size: 1.1em;
    margin-bottom: 44px;
  }
  .content-wrapper:last-child {
    margin-bottom: 0;
  }
  
  .button {
    align-items: center;
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 4px;
    color: #121943;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    width: 150px;
  }
  .button:focus {
    border: 2px solid transparent;
    box-shadow: 0px 0px 0px 2px #121943;
    outline: solid 4px transparent;
  }
  
  .link {
    color: #121943;
  }
  .link:focus {
    box-shadow: 0px 0px 0px 2px #121943;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .input-wrapper .label {
    align-items: baseline;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .input-wrapper .optional {
    color: #5a72b5;
    font-size: 0.9em;
  }
  .input-wrapper .input {
    border: 1px solid #5a72b5;
    border-radius: 4px;
    height: 40px;
    padding: 8px;
  }


  .hidden{

    display:none !important;
  }
  
  code {
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 4px;
    padding: 2px 4px;
  }
  
  /* 
  
  The following vars come from my theme. 
  You'll need to replace with your own color values. 
  
  - "$light"
  - "$mid"
  - "$dark"
  
  */
  .toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .toggle:last-of-type {
    margin: 0;
  }
  
  .toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle__input:not([disabled]):active + .toggle-track, .toggle__input:not([disabled]):focus + .toggle-track {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #121943;
  }
  .toggle__input:disabled + .toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .toggle-track {
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 60px;
  }
  
  .toggle-indicator {
    align-items: center;
    background: #121943;
    border-radius: 24px;
    bottom: 2px;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 24px;
  }
  
  .checkMark {
    fill: #fff;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  
  .toggle__input:checked + .toggle-track .toggle-indicator {
    background: #121943;
    transform: translateX(30px);
  }
  .toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  
  @media screen and (-ms-high-contrast: active) {
    .toggle-track {
      border-radius: 0;
    }
  }

 .leaflet-control-layers-list{

  width:350px;
  height:auto;
 }

 .leaflet-control-layers-base{

  font-size:16px;
  padding:15px;
 }

 .leaflet-control-layers-base label span{

 
  padding:0 0 0 15px;
 }

 .command{

    width:200px;
    padding:15px;
 }

 #profil{
  width:300px;
  height:auto;
  padding:15px;
  border:none;
  border-radius: 12px;
  transition: all 0.2s linear;
}

#profil:focus{

  border:2px solid var(--bg-blue);

}

i{

  font-size: 15px;
}
 
.profiles{

  right:40px;
  top:20px;
  margin: 0 auto;
  height:auto;
  position: absolute;
  z-index: 100;
  background-color: var(--default-color);
  padding:15px;
  -webkit-box-shadow: 1px 3px 25px 7px rgba(0,0,0,0.76); 
box-shadow: 1px 3px 25px 7px rgba(0,0,0,0.76);
border-radius: 15px;
}


.result{

  width:auto;

}

.result i{

  display: inline-block;
  cursor: pointer;
  transform: all 0.2s linear;

}

.result p {

   display: inline-block;
   padding: 0 0 0 13px;
}


.selected{

  margin:14px;
}

.search{

  width:300px;
  height:auto;
  padding:15px;
  border:none;
  border-radius: 12px;
  transition: all 0.2s linear;
}

option{

  font-size: 13px;
 
}

.result{

    padding:15px;
    font-weight: bold;
    font-style: italic;
   
    
}




.result i:hover{

  transform: scale(1.4);
}

.types {

  width:180px;
  height:auto;
  position: absolute;
  top:20px;
  left:100px;
  z-index: 100;
  background-color: var(--default-color);
  padding:15px;
  -webkit-box-shadow: 1px 3px 25px 7px rgba(0,0,0,0.76); 
  box-shadow: 1px 3px 25px 7px rgba(0,0,0,0.76);
  border-radius: 15px;

  
}

.exact-type {

 width: auto;
 
}

.exact-type p{

  display: block;
  font-size: 14px;


}
.exact-type span{

    display: inline-block;
    width:20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
  
}

.result span{

  display: inline-block;
  font-size:14px;
}

.color1{

   color:var(--info-color-secondary);
}

.color2{

  color:var(--danger-color);
}

.color3{

  color:var(--bg-orange);
}

.color4{

  color:var(--info-color);
}

.color5{

  color:var(--primary-color);
}

.costs{

  height:auto;
  background-color: var(--default-color);
  position: absolute;
  top:30px;
  left:150px;
  width:300px;
  z-index: 100;
  background-color: var(--default-color);
  padding:15px;
  -webkit-box-shadow: -1px 14px 42px -12px #000000; 
  box-shadow: -1px 14px 42px -12px #000000;
  border-radius: 15px;


}

.costs h5{

  text-align: center;
  font-style: italic;
  line-height: 1.2;
}

.total,.analyse{

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total p{

   font-size: 19px;
   color:rgba(0,0,0,0.9);
   font-weight: bold;
   text-transform: capitalize;
}

.analyse p {

  font-size: 16px;
  color:rgba(0,0,0,0.59)
}

.hide{

  display: none !important;
}